@media (max-width: 360px) {
    .text__about__course {
        width: 224px;
        font-size: 12px;
        line-height: 16px;
    }
    .title__profession {
        width: 267px;
        font-size: 32px;
        line-height: 40px;
        margin-top: 24px;
    }
    .flex__titles {
        display: flex;
        flex-direction: column-reverse;
    }
    .intro__column-icon {
        left: 278px;
        top: 88px;
    }
    .intro__column-icon img{
        width: 72px;
    }
    .page-navigation {
        top: 16px;
        right: 56px;
        position: fixed !important;
    }
    .title__start__course {
        margin-top: 16px;
        font-size: 18px;
    }
    .title__season {
        padding: 4px 8px;
        font-size: 18px;
    }
    .flex__profession {
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .text {
        margin-left: 8px;
    }
    .text__profession {
        width: 271px;
        font-size: 14px;
        line-height: 20px;
    }
    .item__text {
        margin-left: 16px;
    }
    .item__icon img{
        width: 40px;
        height: 25px;
    }
    .title-about__button {
        font-size: 18px;
        line-height: 24px;
        margin-top: 40px;
    }
    .button {
        width: 100%;
        padding: 18px 59px;
        font-size: 18px;
        line-height: 24px;
    }
    .left-arrow {
        left: 13px;
        top: 25px;
    }
    .right-arrow {
        position: absolute;
        left: 275px;
        top: 25px;
    }
    .item__about-job h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .item-flex__job {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item__about-job {
        width: 90%;
    }
    .text__about-job {
        font-size: 14px;
        line-height: 20px;
    }
    .rectangle {
        width: 328px;
        margin-top: 3px;
        margin-left: -7px;
    }
    .image-girl {
        content: url('https://image.winudf.com/v2/image1/bW9yaXMud2hpdGVfc2NyZWVuXzBfMTU0OTI5MDk2OF8wNTM/screen-0.jpg?fakeurl=1&type=.jpg');
        width: 328px;
        height: 192px;
    }
    .video-image__job {
        width: 328px;
    }
    .button__onclick-video {
        width: 24px;
        left: 141px;
        top: 80px;
    }
    .item-video__job {
        margin-left: 25px;
        margin-top: 40px;
    }
    .about__work {
        margin-top: 68px;
        margin-bottom: 80px;
    }
    .text__about-work {
        font-size: 24px;
        line-height: 32px;
    }
    .text__about-work span {
        display: block;
    }
    .grid__about-work {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: 72px;
        margin-bottom: 79px;
        column-gap: 90px;
    }
    .text-in-grid li {
        font-size: 14px;
        line-height: 20px;
    }
    .item__about-job-manager {
        width: 100%;
    }
    .video-image__job-manager {
        width: 326px;
    }
    .video {
        width: 326px;
        margin-left: auto;
        text-align: center;
    }
    .item-logo__sign-pay img{
        width: 129px;
    }
    .girl-image {
        height: 190px;
    }
    .title-pay {
        font-size: 24px;
        line-height: 32px;
        width: 264px;
    }
    .text-pay {
        font-size: 32px;
        line-height: 40px;
    }
    .flex__about-pay {
        position: relative;
    }
    .item-logo__sign-pay {
        position: absolute;
        right: -36px;
        top: -50px;
    }
    .intro-training {
        margin-top: 40px;
    }
    .text-tommy {
        font-size: 14px;
        line-height: 20px;
        margin-right: 25px;
    }
    .item-tommy-line {
        margin-left: -21px;
    }
    .title-work-it {
        font-size: 24px;
        line-height: 32px;
    }
    .text-work-it {
        font-size: 14px;
        line-height: 20px;
    }
    .text-work-it span {
        display: inline;
    }
    .girl-image-manager {
        content: url('https://image.winudf.com/v2/image1/bW9yaXMud2hpdGVfc2NyZWVuXzBfMTU0OTI5MDk2OF8wNTM/screen-0.jpg?fakeurl=1&type=.jpg');
        width: 328px;
        height: 190px;
    }
    .flex__video-it {
        margin-top: 0;
    }
    .second-video {
        display: none;
    }
    .title-name {
        font-size: 18px;
        line-height: 24px;
    }
    .text-name {
        font-size: 14px;
        line-height: 20px;
    }
    .slider {
        display: flex;
        justify-content: space-between;
    }
    .slider ul {
        display: flex;
        margin-left: -20px;
    }
    .link-slider {
        width: 8px;
        height: 8px;
        background-color: #00FA9A;
        border-radius: 50px;
        display: inline-block;
        margin-right: 10px;
    }
    .prev, .next {
        cursor: pointer;
        transition: 0.6s ease;
    }
    .fade{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from{opacity: 4}
        to{opacity: 1}
    }
    .title-list__study {
        font-size: 24px;
        line-height: 32px;
    }
    .list {
        font-size: 14px;
        line-height: 20px;
        margin-top: 16px;
    }
    .list__study {
        padding: 0 20px;
        border: 1px solid black;
        margin-left: 0;
        padding-top: 207px;
    }
    .packet-intro {
        margin-top: 168px;
    }
    .all-packet {
        background-image: none;
        position: relative;
        /* border: 1px solid #000000; */
        background-color: #fff;
        padding-top: 0px;
        margin-right: 23px;
    }
    .list__study::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        top: 10px;
        left: 9px;
        z-index: -1;
    }
    .full-packet {
        display: block;
        position: absolute;
        top: 0;
    }
    .two-holes {
        position: absolute;
        left: 82px;
        top: 53px;
    }
    .shadow-tag {
        position: absolute;
        top: 47px;
        left: 144px;
    }
    .rope {
        position: absolute;
        top: 31px;
        left: 158px;
    }
    .tag {
        position: absolute;
        top: 46px;
        left: 135px;
    }
    .first-handle {
        position: absolute;
        top: -72px;
        left: 89px;
    }
    .second-handle {
        position: absolute;
        top: -104px;
        left: 110px;
        z-index: -1;
    }
    .title-list__study span {
        display: block;
    }
    .item-cards {
        margin-top: 64px;
        flex-wrap: wrap;
        margin-bottom: 120px;
    }
    .logo-photo-card{
        display: none;
    }
    .card {
        margin-left: auto;
        margin-bottom: 64px;
    }
    .title-card {
        padding-bottom: 0;
    }
    .title-card span {
        display: block;
        margin-top: auto;
    }
    .price-card {
        font-size: 32px;
        line-height: 40px;
    }
    .button-card {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
        padding: 16px 47px;
    }
    .title-card-price {
        font-size: 18px;
        line-height: 24px;
        width: 168px;
    }
    .text-card-price {
        font-size: 18px;
        line-height: 24px;
    }
    .header-card-price {
        margin: 31px 33px;
    }
    .line-card {
        padding-bottom: 0; 
    }
    .title-card-price-month {
        font-size: 18px;
        line-height: 24px;
    }
    .text-card-price-month {
        font-size: 18px;
        line-height: 24px;
    }
    .text__month {
        font-size: 14px;
        line-height: 20px;
    }
    .card img {
        left: 246px;
        top: 119px;
    }
    .info_work-text {
        font-size: 14px;
        line-height: 20px;
        width: 280px;
    }
    .logo_sign {
        position: absolute;
        top: -23px;
    }
    .logo_sign img{
        width: 73px;
    }
    .work_conteiner {
        padding: 16px 26px;
    }
    .info-trening {
        height: auto;
        margin: 0 auto;
    }
    .work_stude {
        padding: 104px 0;
        height: auto;
    }
    .info_text-tommy {
        font-size: 14px;
        line-height: 20px;
        margin-right: 21px;
    }
    .course__program {
        border: none;
    }
    .title__program {
        font-size: 24px;
        line-height: 32px;
    }
    .item-module {
        font-size: 18px;
        line-height: 24px;
    }
    .select__modules p {
        display: block;
        font-size: 18px;
        line-height: 24px;
    }
    .list__module {
        font-size: 14px;
        line-height: 20px;
    }
    .list-technical-module li {
        font-size: 14px;
        line-height: 20px;
    }
    .list-technical-module p {
        font-size: 14px;
        line-height: 20px;
    }
    .work-present {
        background: none;
    }
    .item-module {
        width: 250px;
    }
    .speakers_course {
        margin-left: 16px;
    }
    .speakers_course-header_text {
        font-size: 24px;
        line-height: 32px;
    }
    .speakers_conteiner {
        grid-template-columns: repeat(1,auto);
        width: 100%;
        background: none;
        grid-gap: 16px;
    }
    .speakers_card-left img{
        width: 100%;
    }
    .speakers_teacher {
        font-size: 18px;
        line-height: 24px;
    }
    .under-speakers_teacher {
        font-size: 14px;
        line-height: 20px;
    }
    .speakers_card-left {
        background: #00FA9A;
    }
    .speakers_card-right img {
        width: 100%;
    }
    .history-students-header {
        font-size: 24px;
        line-height: 32px;
    }
    .history-students-header {
        width: 328px;
    }
    .students {
        margin-top: 64px;
        padding: 0 16px;
    }
    .history {
        font-size: 14px;
        line-height: 20px;
        width: 240px;
    }
    .diplom-conteiner {
        display: flex;
        flex-wrap: wrap;
        padding: 0 16px;
    }
    .tommy_diplom-header_text {
        font-size: 24px;
        line-height: 32px;
    }
    .tommy_diplom-under_header_text {
        font-size: 14px;
        line-height: 20px;
    }
    .diplom img {
        width: 100%;
    }
    .training-going {

        margin-right: 2%;
    }
    .training__text {
        font-size: 24px;
        line-height: 32px;
    }
    .list-of__training {
        flex-wrap: wrap;
    }
    .item__lessons {
        font-size: 18px;
        line-height: 24px;
    }
    .item__about-lessons {
        font-size: 14px;
        line-height: 20px;
        width: 327px;
    }
    .text-subscription {
        font-size: 24px;
        line-height: 32px;
    }
    .subscription-all {
        width: 328px;
        margin-top: 64px;
    }
    .flex-subscription {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: 64px
    }
    .flex-subscription img {
        margin-left: 33px;
    }
    .block-text-subscription p {
        width: auto;
        font-size: 14px;
        line-height: 20px;
    }
    .block-text-subscription {
        width: 328px;
    }
    .text-questions {
        font-size: 24px;
        line-height: 32px;
    }
    .item-flex-questions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .video-image {
        width: 128px;
        height: 72px;
    }
    .play-video {
        position: absolute;
        top: 22px;
        width: 24px;
        left: 51px;
    }
    .question__under-video {
        font-size: 14px;
        line-height: 20px;
        margin-left: 16px;
    }
    .flex-right-questions {
        display: flex;
        margin-bottom: 24px;
    }
    .right-questions {
        width: 100%;
    }
    .question__about-project {
        width: 100%;
        margin-top: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .girl-manager {
        width: 326px;
    }
    .question__about-project h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .question__about-project p {
        font-size: 14px;
        line-height: 20px;
    }
    .block__contacts p {
        font-family: 'Source Code Pro', monospace;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: white;
    }
    .toomy-footer {
        position: relative;
        text-align: center;
        background-color: black;
        max-width: 288px;
        margin: 0 auto;
    }
    .item__test-period {
        position: absolute;
        text-align: center;
        background: white;
        max-width: 320px;
        margin: 0 auto;
        top: 284px;
        left: -10px;
    }
    .item__test-period h6 {
        font-size: 14px;
        line-height: 20px;
    }
    .item__test-period p {
        font-size: 12px;
        line-height: 16px;
    }
    .button__footer {
        font-size: 18px;
        line-height: 24px;
        padding: 20px 81px;
    }
    .button-item {
        position: absolute;
        top: 358px;
        left: -18px;
    }
    .footer-arrow-left {
        position: absolute;
        top: 13px;
        left: 18px;
    }
    .footer-arrow-right {
        position: absolute;
        left: 266px;
        top: 13px;
    }
    .footer {
        padding-bottom: 153px;
    }
}