@media (max-width: 360px) {
    .text__about__course {
        width: 224px;
        font-size: 12px;
        line-height: 16px;
    }
    .title__profession {
        width: 267px;
        font-size: 32px;
        line-height: 40px;
        margin-top: 24px;
    }
    .flex__titles {
        display: flex;
        flex-direction: column-reverse;
    }
    .intro__column-icon {
        left: 266px;
        top: 88px;
    }
    .intro__column-icon img{
        width: 72px;
    }
    .page-navigation {
        top: 16px;   
        right: 57px;
    }
    .title__start__course {
        margin-top: 16px;
        font-size: 18px;
    }
    .title__season {
        padding: 4px;
        font-size: 18px;
    }
    .flex__profession {
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .text {
        margin-left: 8px;
    }
    .text__profession {
        width: 271px;
        font-size: 14px;
        line-height: 20px;
    }
    .item__text {
        margin-left: 16px;
    }
    .item__icon img{
        width: 40px;
        height: 25px;
    }
    .title-about__button {
        font-size: 18px;
        line-height: 24px;
        margin-top: 40px;
    }
    .button {
        padding: 20px 79px;
        font-size: 18px;
        line-height: 24px;
    }
    .left-arrow {
        left: 13px;
        top: 25px;
    }
    .right-arrow {
        position: absolute;
        left: 275px;
        top: 25px;
    }
    .item__about-job h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .item-flex__job {
        flex-wrap: wrap;
        justify-content: center;
    }
    .item__about-job {
        width: 90%;
    }
    .text__about-job {
        font-size: 14px;
        line-height: 20px;
    }
    .rectangle {
        width: 328px;
        margin-top: 3px;
        margin-left: -7px;
    }
    .image-girl {
        content: url('https://image.winudf.com/v2/image1/bW9yaXMud2hpdGVfc2NyZWVuXzBfMTU0OTI5MDk2OF8wNTM/screen-0.jpg?fakeurl=1&type=.jpg');
        width: 328px;
        height: 192px;
    }
    .video-image__job {
        width: 328px;
    }
    .button__onclick-video {
        width: 24px;
        left: 141px;
        top: 80px;
    }
    .item-video__job {
        margin-left: 25px;
        margin-top: 40px;
    }
    .about__work {
        margin-top: 68px;
        margin-bottom: 80px;
    }
    .text__about-work {
        font-size: 24px;
        line-height: 32px;
    }
    .text__about-work span {
        display: block;
    }
    .grid__about-work {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: 72px;
        margin-bottom: 79px;
        column-gap: 90px;
    }
    .text-in-grid li {
        font-size: 14px;
        line-height: 20px;
    }
    .item__about-job-manager {
        width: 100%;
    }
    .video-image__job-manager {
        width: 326px;
    }
    .video {
        width: 326px;
        margin-left: auto;
        text-align: center;
    }
    .item-logo__sign-pay img{
        width: 129px;
    }
    .girl-image {
        height: 190px;
    }
    .title-pay {
        font-size: 24px;
        line-height: 32px;
        width: 264px;
    }
    .text-pay {
        font-size: 32px;
        line-height: 40px;
    }
    .flex__about-pay {
        position: relative;
    }
    .item-logo__sign-pay {
        position: absolute;
        right: -36px;
        top: -50px;
    }
    .intro-training {
        margin-top: 40px;
    }
    .text-tommy {
        font-size: 14px;
        line-height: 20px;
        margin-right: 25px;
    }
    .item-tommy-line {
        margin-left: -21px;
    }
    .title-work-it {
        font-size: 24px;
        line-height: 32px;
    }
    .text-work-it {
        font-size: 14px;
        line-height: 20px;
    }
    .text-work-it span {
        display: inline;
    }
    .girl-image-manager {
        content: url('https://image.winudf.com/v2/image1/bW9yaXMud2hpdGVfc2NyZWVuXzBfMTU0OTI5MDk2OF8wNTM/screen-0.jpg?fakeurl=1&type=.jpg');
        width: 328px;
        height: 190px;
    }
    .flex__video-it {
        margin-top: 0;
    }
}